/*
Paleta de colores:
#F18C8E
#F0B7A4
#F1D1B5
#568EA6
#305F72
*/

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.label-center{
    display: block;
    text-align: center;
    width: 100%;
    font-size: 0.8em;
}
.label-right{
    display: block;
    text-align: right;
    width: 100%;
}

body{
    width: 100%;
    background-color: #F1D1B5;
}
h1, p, h3{
    color: white;
}
.col-sm-2 col-form-label{
    color:white;
    width: 100px;
}
.logo{
    width: 100px; height: 100px;
    float: left;
}
.barraSuperior{
    background-color: #568EA6;
    width: 100%;
    position: fixed;
    box-shadow: 0px 10px 10px #a2a2a2;
}
.espacioDeBarra{
    width: 100%;
    height: 110px;
}
.navbar navbar-light bg-light justify-content-between{
    position: absolute;
    top: 100px;
}
.cajaCentral{
    position : absolute;
    top: 30%;
    left: calc(50% - 300px);
    width: 600px;
    border: none;
    padding: 30px 10px;
    background-color: #568ea6;
    border-radius: 20px 5px;
    box-shadow: 5px 10px 10px #a2a2a2;
}
.btn-primary{
    background-color: #F1D1B5;
    color: black;
    border: none;
    float: right;
}
.btn-logeo{
    background-color: #F1D1B5;
    color: black;
    border: none;
}
.btn-primary:hover{
    background-color: #F18C8E;
}
.saludoUsuario{
    position:fixed;
    top:0;
    right: 0;
}
.busqueda{
    position:fixed;
    width: 800px;
    left: calc(35% - 150px);
    top: 50px;
}
.form-control mr-sm-2{
    width: 200px;
}
.list-group{
    width: 300px;
}
.rounded{
    width: 700px;
    left: calc(35% - 150px);
    top: 150px;
}
.opciones{
    width: 120px;
    left: calc(35% - 150px);
    right: 100;
    top: 150px;
}

table{
    margin-bottom: 20px;
    border-radius: 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 5px;  
}
.sinborde{
    width: 80px;
    padding: 0%;
    border: none;
    background: none;
    color: #F1D1B5;
}
.botonnuevo{
    border-bottom-style:groove;
    position:fixed;
    right: 10%;
}
a:link{
    color:#F0B7A4;

}
a:visited{
    color:#305F72;
}
.window-notice {
    background:#F1D1B5;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: flex;
    position: fixed;
    z-index: 999;
}
.window-notice .content {
    background:#568EA6;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(33, 41, 52, .75);
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 600px;
    min-width: 320px !important;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 2rem;
    font-size: 1.3rem;
}
.img-fluid{
    width: 100%;
}

.custom-file-input:lang(en)~.custom-file-label::after{
    content: "Subir archivo";
}
.form-check-label{
    color: #fff;
}